body, ul {
    padding: 0;
    margin: 0;
}

body {
    margin-bottom: 128px;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header, div, section, nav {
    /* border: 1px solid #f0f; */
}

* {
    box-sizing: border-box;
}

/* ========================================================================== */
p, a, button, label, input, table td, table th {
    font-family: 'Roboto', sans-serif;
}

h1 a {
    color: #000;
    text-decoration: none;
}

form {
    display: block;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    form {
        width: auto;
    }
}

form label {
    display: block;
    text-transform:uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 14px 0 0 0;
}

input, textarea {
    display:block;
    min-height: 24px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 4px 0 0 0;
    outline: none;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    border: 1px solid #ccc;
    resize: none;
}

input:focus, textarea:focus {
    border-bottom: 2px solid dodgerblue;
}

@media only screen and (min-width: 768px) {
    input {
        width: auto;
    }
}

.ancora, .botao, button {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 0 8px;
}

.botao, button {
    display:block;
    background: dodgerblue;
    border: 0;
    padding: 8px;
    color: white;
    border-radius: 2px;
    margin: 4px 0 0 0;
    cursor: pointer;
}

.botao.enxuto {
    display: inline-block;
}


button.palido {
    background: transparent;
    color: black;
}

.container {
    width: calc(100% - 16px);
    margin: 0 auto;   
}

@media only screen and (min-width: 768px) {
    .container {
        width: 960px;
    }
}

table {
    display: block;
    width: calc(100vw - 32px);
    border-collapse: collapse;
    overflow-x: scroll;
    margin: 32px 0;
}

@media only screen and (min-width: 768px) {
    table {
        display: table;
        width: 100%;
        overflow-x: visible;
    }
}

table tr th, table tr td {
    /*border: 1px solid #0f0;*/
    padding: 8px;
    text-align:left;
}
table tr th {
    font-size: 14px;
}

table tr th:first-of-type, table tr td:first-of-type {
    padding-left: 0;
}

table tr th:last-of-type, table tr td:last-of-type {
    width: 100px;
    padding-right: 0;
}

table tr td {
    border-bottom: 1px solid #ccc;
}

/* ========================================================================== */
.blogCabecalho {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 48px 0 32px 0;
}

.blogCabecalho .blogTitulo {
    flex: 1;
}

.blogNav ul, .blogNav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagemBemVindo {
    font-size: 14px;
    margin: 8px 0 0 16px;
}


@media only screen and (min-width: 768px) {
    .mensagemBemVindo {
        margin: 0 16px 4px 0;
    }
}

.blogNav {
    position: fixed;
    background-color: white;
    left: -200px;
    top: 0;
    width: 200px;
    height: 100vh;
    z-index: 2;
    transition: transform .28s ease;
}

.blogNavAtivo .blogNav {
    transform: translateX(200px);
}

.blogNav ul { 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.blogNav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.blogNavSombra {
    position: fixed;
    background-color: rgba(0,0,0,0);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    transition: background-color .28s ease;
}

.blogNavAtivo .blogNavSombra {
    background-color: rgba(0,0,0,0.8);
    pointer-events: all;
    
}

.blogNavInterruptor {
    position: fixed;
    color: dodgerblue;
    top: 56px;
    right: 32px;
    z-index: 2;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    transition: color .28s ease;
}

.blogNavAtivo .blogNavInterruptor {
    color: white;
}

@media only screen and (min-width: 768px) {
    .blogNavInterruptor {
        display: none;
    }
    .blogNavAtivo .blogNavSombra{
        transform: translateX(0);
    }
    .blogNavAtivo .blogNavSombra{
        pointer-events: none;   
    }
    .blogNav {
        position: static;
        width: auto;
        height: auto;
    }
    .blogNav ul { 
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 100%;
    }
    .blogNav ul li {
        height: auto;
        line-height: normal;
    }
}

.blogCorpo {
    display: flex;
    min-height: calc(100vh - 145px);
}

.blogTopicos {
    width: 100%;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
    .blogTopicos {
        width: 100%;
        margin: 64px 32px;
        align-items: center;
        justify-content: center;
    }
}

.blogTopico {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .blogTopico {
        width: 600px;
    }
}

.blogTopicoMeta {
    text-transform: uppercase;
    font-size: 10px;
    color: #444;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 16px 0;
}

.blogTopicoTitulo{
    color: #000;
    font-size: 32px;
    margin: 16px 0;
    border-bottom: 1px solid #aaa;
    padding-bottom: 24px;
}

.blogTopicoDescricao {
    color: #444;
    font-size: 16px;
    line-height: 24px;
}

.blogTopicoComentarios {
    margin: 16px 0;
    padding: 32px 0;
    width: calc(100% - 32px);
}

.blogTopicoComentariosTitulo {
    font-size: 16px;
}
.blogTopicoComentarioDataCriacao{
    color: #aaa;
}
.blogTopicoComentarioAutor {
    font-weight: bold;
    font-size: 14px;
}
.blogTopicoComentario p {
    display: inline;
    font-size: 14px;
}
.blogTopicoComentariosFormulario button {
    float:right;
    margin: 8px 0;
}

.blogGerenciaModulo {
    display: block;
    width: 100%;
    margin: 16px 0;
}
.blogGerenciaModulo:first-of-type {
    margin: 0 0 16px 0;
}
.blogGerenciaModuloCabecalho {
    display: flex;
    align-items: center;
}
.blogGerenciaModuloCabecalhoTitulo {
    flex: 1;
}

/* ========================================================================== */
.mensagem {
    padding: 16px;
    border-radius: 4px;
    margin: 8px;
}
.mensagem.erro {
    border: 1px solid crimson;
    color: brown;
    background-color: rgba(200, 0, 0, 0.05);
}
.mensagem.sucesso {
    border: 1px solid greenyellow;
    color: green;
    background-color: rgba(0, 200, 0, 0.05);
}

.paginaEntrar .blogCorpo,
.paginaTopicoEditar .blogCorpo,
.paginaTopicoNovo .blogCorpo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginaEntrar .blogCorpo .blogFormulario {
    margin: 0 64px;
    width: calc(100% - 128px);
}
.paginaTopicoEditar .blogCorpo .blogFormulario,
.paginaTopicoNovo .blogCorpo .blogFormulario {
    width: calc(100% - 128px);
}

.paginaTopicoEditar .blogCorpo .blogFormularioBotao,
.paginaTopicoNovo .blogCorpo .blogFormularioBotao {
    margin: 16px auto;
    padding: 16px 32px;
}


@media only screen and (min-width: 768px) {
    .paginaEntrar .blogCorpo .blogFormulario {
        margin: 0;
        width: auto;
    }
}

.paginaEntrar .blogCorpo .blogFormulario .blogFormularioBotao{
    margin: 16px auto 0 auto;
}